### Exercise 3: For this exercise you will use financial data from Yahoo web site. 

<ul>
<li>Get the Data: Go to Yahoo! Finance and download daily data from a stock that has at least eight years of data, making sure it goes from earlier to later. 
<li> Create the time series of daily log returns of the stock price. Do the same for volume data (i.e., create the time series of daily log changes in volume).
<li> Next, set up a linear regression model that uses the past two returns to predict the next return. Run it and see if you can make any money with it. Try it for both stock returns and volumes. 
</ul>

In [2]:
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

### Read stock data from .csv file

In [3]:
# read stock values from .csv file
df_stocks = pd.read_csv("GSPC.csv")
df_stocks.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,1132.989990,3991400000
1,2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,1136.520020,2491020000
2,2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,1137.140015,4972660000
3,2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,1141.689941,5270680000
4,2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,1144.979980,4389590000

In [4]:
df_stocks = df_stocks[['Date', 'Adj Close', 'Volume']]
df_stocks.head()

         Date    Adj Close      Volume
0  2010-01-04  1132.989990  3991400000
1  2010-01-05  1136.520020  2491020000
2  2010-01-06  1137.140015  4972660000
3  2010-01-07  1141.689941  5270680000
4  2010-01-08  1144.979980  4389590000